
.container-explication {
    max-width: 90%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.container-explication h2 {
    font-family: "intertight", sans-serif;
    text-align: center;
    font-weight: 500; 
    font-style: italic;
    padding-bottom: 1rem;
}

.etapes-rounds {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    padding: 20px 0;
}

.round {
    background-color: var(--background-mauveclair);
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 10px;
}

.round:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.icon {
    color: var(--background-violet);
    font-size: 40px; 
}

.round p {
    color: var(--background-violet); 
    font-size: 16px;
    font-weight: 500;
    padding: 1.2rem;
    text-align: center;
}


@media (max-width: 768px) {
    .etapes-rounds {
        flex-direction: column;
    }
    .round {
        width: 120px;
        height: 120px;
        margin: 10px auto; 
    }
}
