.container-about {
    max-width: 80%; 
    margin: 40px auto; 
    background-color: #fff; 
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
}

.container-about h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.highlight {
    font-size: 1.2em;
    font-weight: bold;
}

.container-about p {
    padding: 20px 0; 
    line-height: 1.8; 
    font-size: 1em; 
}
