.EquipementDetailsPage {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    height: calc(100vh - (var(--height-footer) + var(--height-navbar)));

  }
  
  .EquipementDetailsPage h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .EquipementDetailsPage p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .button-details {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    color: white;
    background-color: var(--background-mauvefonce);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
  }

  .delete {
    background-color: red;
    border: 1px solid red;
  }

  .edit:hover {
    background-color: var(--background-mauvefonce);
    text-decoration: none;
    color: white;
  }
  
  a {
    display: inline-block;
  }
  