.group {
    display: flex;
    align-items: flex-start;
    margin-top: 6rem;
    margin-left: 4rem;
}


.form-group {
    margin-right: 0.3rem;
}

.form-group input {
    background-color: white;
    margin-right: 3rem;
    text-align: center;
}

button {
    margin-bottom: 1rem;
    background-color: var(--background-mauvefonce) ;
}