nav {
  background-color: var(--background-violet);
  width: var(--width-navbar);
  height: var(--height-navbar);
}

.navbar {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
}

.navbar-text {
  flex-grow: 1; 
  text-align: center; 
  color: var(--background-white);
}

.navbar-text ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  justify-content: flex-end;
  align-items: center; 
}

.navbar-text ul li {
  margin: 0 15px; 
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-text ul li:hover {
  color: var(--background-green);
  background-color: transparent;
}

.navbar-text ul li a {
  color: inherit; 
  text-decoration: none; 
}
