.footer {
  background-color: var(--background-black);
  width: var(--width-footer);
  height: var(--height-footer);
  text-align: center;
  padding-top: 2rem;
}

.footer a {
  color: var(--background-white);
}

