* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --background-green:#BFCC94;
  --background-white:#F0F4EF;
  --background-blue1:#B4CDED;
  --background-blue2:#344966;
  --background-black:#0D1821;

  --width-footer:100%;
  --height-footer:10rem;

  --width-navbar:100%;
  --height-navbar:4rem;

  --width-header:100%;
  --height-header:25rem;

}

body {
  font-family: "Roboto", sans-serif;
  /*overflow: hidden;*/
}
