* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --background-bleu: #dff9fb;
  --backgroun-bleu2: #c7ecee;
  --background-nectarine: #ffbe76;
  --background-beekeper: #f6e58d;
  --background-black: #1e272e;
  --color-text2: #ffffff;
  --color-text1: #0c0c0c;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
